<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>POST</h1>
    <div id=f1>
    <form action="/form" method="post">
        {% csrf_token %}
        <p>Your Name: <input name="name" type="text"></p>
        <p>Dojo Location: 
        <select id="loc" name="location">
            <option value="San Francisco">San Francisco</option>
            <option value="New York">New York</option>
            <option value="Los Angeles">Los Angeles</option>
        </select></p>
        <p>Favorite Language:
        <select id="lang" name="language">
            <option value="Ruby">Ruby</option>
            <option value="Mern">Mern</option>
            <option value="Python">Python</option>
            </select></p>
        <p>Comment:</p>
        <textarea name="comment"></textarea>
        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>